.lcontainer{
    background-color: aliceblue;
    margin-top: 50px;
    height: 500px;
    width: 500px;
}
body{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color:lightblue;
    height: 100vh;
}
.fw-bold{
    text-align: center;
}